.footer-area {
    background-color: #333;
    color: #fff;
    text-transform: capitalize;

    a {
        color: #fff;
        margin: 0 10px;
      }

      p {
        margin: 10px 0;
      }
  }
  