.header-area {
  padding: 25px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  transform: .3s;

  &.sticky {
    background-color: #333;

    // &.slicknav_menu{
    //   background-color: #333;
    // }
  }

  .header {
    display: grid;
    grid-template-columns: 15% 80%;
    column-gap: 5%;
    align-items: center;

    .logo a {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 700;
      display: block;
      color: #fff;
    }

    .menu ul {
      display: flex;
      justify-content: flex-end;

      li {
        a {

          text-transform: capitalize;
          margin-left: 20px;
          font-size: 18px;
          transition: .3s;
          color: #fff;

          &:hover {

            color: tomato;

          }

        }

        &.current{
          a{
            color: tomato;
          }
        }
      }
    }


  }


}

.slicknav_menu {
  display: none;
}